<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Christmas Wish</title>

    <!-- Framework CSS -->
    <link rel="stylesheet" href="/static/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="/static/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  </head>
  <body">
    <div class="container">
	<h3> <a href="/"> Home </a> </h3> <h3> 
      <h1>Christmas Wish</h1>
      <hr>

      <div class="span-12">
	  <form action="/store/" method="post">
		{% csrf_token %}
		<legend>Wish</legend>
		<fieldset>
			{{ form.as_p }}
		</fieldset>		
		<input type="submit" value="Submit"/>
		<input type="reset" value="Reset">
		</form>
  </body>
</html>